<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Flask Games</title>
</head>
<body>
    <h1>Welcome to Flask Games!</h1>
    <h2>Select a game to play:</h2>
    <form method="post" action="/pygame">
        <button type="submit">Flip&Match</button>
    </form>
    <form action="/launch_pyqt5">
        <button type="submit">Word Search Game</button>
    </form>
    <form action="/emotion">
        <button type="submit">Emotion Detection</button>
    </form>
    <form action="/simonsays">
        <button type="submit">Simon says Game</button>
    </form>
    <form>
        <button type="button" onclick="window.location.href = 'https://mohitvenx.github.io/balloon-shoot-math/'">Balloon Pop Math</button>
    </form>
    <form action="/emotion">
        <button type="submit">Gaze Tracker</button>
    </form>
    <form action="/emotion">
        <button type="submit">Live Caption</button>
    </form>
</body>
</html>
